<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退出</title>
    <style type="text/css">
        .element {
                    width: 600px; height: 400px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
                  }

    </style>
</head>
<body>
    <h1 class="element">成功退出!</h1>
    <a href="/wiki/login/">返回登录</a>
    <script language="javascript">
        setTimeout("location.href= '/wiki/login';", 2000);
    </script>

</body>
</html>